<!DOCTYPE html>
<html>
    <head>
        <!--BOotstrap style sheet-->
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            body {
                background-color: whitesmoke;
            }
            .chat-history {
                overflow-y: scroll;
                max-height: 800px;
                height: 800px;
            }
        </style>

        <script src = "http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src = "/socket.io/socket.io.js"></script>
        <!-- date format js-->
        <script src = "https://cdn.rawgit.com/JDMcKinstry/JavaScriptDateFormat/master/Date.format.min.js"></script>

        <title>FSE Chat Room</title>
    </head>
    <body>
        <header>
            <nav class = "navbar navbar-light" style = "background-color: rgb(211, 226, 240);">
                <% if(user) { %>
                <span class = "navbar-brand">Welcome back, <strong><%= user %></strong>!</span>
                <a href = "/logout" class = "btn btn-outline-primary my-2 my-sm-0">Log Out</a>
                <% } %>
            </nav>
        </header>
        
        
        <div class = "chat-history my-3 bg-white shadow-sm rounded col-lg-8 offset-lg-2">
            <ul class = "list-group my-3" id = "message"></ul>
        </div>
        
        <div class = "col-lg-8 offset-lg-2 mb-2">
            <form class = "form-group" action = "/" method = "POST" id = "chat">
                <div class = "input-group">
                    <input id = "text" class = "form-control" placeholder = "Message" autofocus>
                    <div class = "input-group-append">
                        <button class = "btn btn-success" type = "submit">Send</button>
                    </div>
                </div>  
            </form>
        </div>

        <script src = "client.js"></script>

    </body>
</html>